<%- include("./partials/head.ejs")%>

<body>
     <!-- Inicia la zona de header -->
     <%- include("./partials/header.ejs")%>
     <link rel="stylesheet" href="/css/index.css">
</head>

          <!-- Aqui inicia la seccion Banner Contenedor -->

          <!-- Escribir aqui el codigo de  la seccion Banner Contenedor -->
          <main>
               <div class="banner-container">
                    <div class="image">
                         <img class="image-hero" src="/images/spiderman.jpg" alt="Spider Man">
                         <div class="marbete">
                              <div class="logo-hero">
                                   <img src="images/logo-brandcolor.svg" class="img-logo-banner">
                              </div>
                              <div class="title-hero">
                                   <label class="title">Spider Man</label>
                              </div>
                              <section class="button-bar-hero">
                                   <input type="button" id="btnComprar" value="Comprar">
                                   <input type="button" id="btnAlquilar" value="Alquilar">
                              </section>
                         </div>
                    </div>
               </div>
          </main>
          <!-- Aqui termina la seccion Banner Contenedor -->

          <!-- Aqui inicia la seccion Secciones Comunes -->

          <!-- Escribir aqui el codigo de  la seccion Secciones Comunes -->
          <section class="common-category">
               <h2>Películas más rentadas</h2>
               <div class="carousel-common-category-cards">
                    <div class="product-common-card">
                         <img src="images/movie-images/1917-landscape-poster.png" alt="A landscape poster of the movie 1917" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/brooklyn-landscape-poster.jpg" alt="A landscape poster of the movie Brooklyn" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/suite-francaise-landscape-poster.jpg" alt="A landscape poster of the movie Suite Francaise" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/pirates-ofthe-caribbean.jpg" alt="A landscape poster of the movie Pirates of the Caribbean on the stranger tides" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/argentina-1985.jpeg" alt="A landscape poster of the movie Argentina 1985 by Santiago Mitre" class="image-common-card">
                    </div>
               </div>
          </section>

          <section class="common-category">
               <h2>Top 10 de películas de la semana</h2>
               <div class="carousel-common-category-cards">
                    <div class="product-common-card">
                         <img src="images/movie-images/the-railway-man-landscape-poster.jpg" alt="A landscape poster of the movie The Railway Man" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/the-impossible-landscape-poster.jpg" alt="A landscape poster of the movie The Impossible" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/drive-landscape-poster.jpg" alt="A landscape poster of the movie Drive" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/baby-driver.jpg" alt="A landscape poster of the movie Baby Driver" class="image-common-card">
                    </div>

                    <div class="product-common-card">
                         <img src="images/movie-images/need-for-speed.jpg" alt="A landscape poster of the movie Need For Speed 2014" class="image-common-card">
                    </div>
               </div>
          </section>

          <!-- Aqui termina la seccion Secciones Comunes -->

          <!-- Aqui inicia la seccion Footer -->
          <!-- Escribir aqui el codigo de  la seccion Footer -->
          <%- include("./partials/footer.ejs")%>
          <!-- Aqui termina la seccion Footer -->

          <!-- Aqui inicia la seccion Secciones Diferentes -->

          <!-- Escribir aqui el codigo de  la seccion Secciones Diferentes -->

          <!-- Aqui termina la seccion Secciones Diferentes -->

</body>

</html>