<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
     <!-- Inicia la zona de header -->
     <%- include("../partials/header.ejs")%>
     <!-- Termina  la zona de header -->

     <!-- Inicia la zona de main -->
     <main class="body-main">
          <div class="page-title"><i class="fa-solid fa-arrow-left"></i><h1>Confirma tu compra</h1></div>

          <div class="hero-img"></div>

          <div class="movie-content">
               <div class="description">
                    <div class="movie-name"><h2>Argentina 1985</h2></div>

                    <div class="detail-info"><span>2 H 6 MIN</span> <span>16+</span> <span>2022</span> <span>HD</span></div>

                    <p>Inspirada en la historia real del fiscal Julio Strassera, Luis Moreno Ocampo y su joven equipo jurídico que se atrevieron a acusar, contra viento y marea, a contrarreloj y bajo constante amenaza, a los altos mandos de la sangrienta dictadura militar argentina (1976-1983) en el llamado Juicio a las Juntas de mediados de los años 80. Una batalla de David contra Goliat, con los héroes menos esperados.</p>
               </div>

               <div class="prizing">
                    <h3>Método de pago</h3>

                    <div class="form-to-pay">
                         <form action="#" method="POST">
                                   <select name="paymentMethod" id="" required>
                                        <option value="" selected>Selecciona un método de pago</option>
                                        <option value=""><i class="fa-brands fa-cc-visa"></i> Visa</option>
                                        <option value=""><i class="fa-brands fa-cc-mastercard"></i> MasterCard</option>
                                        <option value=""><i class="fa-brands fa-cc-amex"></i> American Express</option>
                                   </select>
     
                              <div class="input-style">
                                   <label for="cardNumber">Nro. de tajerta</label>
                                   <input name="cardNumber" type="number" placeholder="0000 0000 0000 0000" class="input-form">
                              </div>
     
                              <div class="input-style">
                                   <label for="clientName">Nombre del titular</label>
                                   <input name="clientName" type="text" placeholder="Escribe el nombre como aparece en la tarjeta" class="input-form">
                              </div>
                              
                              <!-- La fecha de vencimiento y el CVV debe estar en un mismo DIV para mobile -->
                              <div class="input-style">
                                   <label for="expirationDate">Fecha de vto.</label>
                                   <input name="expirationDate" type="date" placeholder="dd/mm" class="input-form">
                              </div>
     
                              <div class="input-style">
                                   <label for="cvv">CVV</label>
                                   <input name="cvv" type="number" placeholder="000" class="input-form">
                              </div>
     
                              <div class="final-prize">
                                   <h4>Total</h4><p>$3200 ARG</p>
                              </div>
     
                              <button class="btn-filled"><i class="fa-solid fa-cart-shopping"></i> Confirmar compra</button>
                         </form>
                    </div>
               </div>

          </div>
     </main>
     <!-- Termina  la zona de main -->

     <!-- Inicia la zona de footer -->
     <%- include("../partials/footer.ejs")%>
     <!-- Termina  la zona de footer -->
</body>

</html>