<%- include("../partials/head.ejs")%>

     <body>
          <!-- Inicia la zona de header -->
          <%- include("../partials/header.ejs")%>


               <h1>productCart.html</h1>
     </body>

     </html>