<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
     <!-- Inicia la zona de header -->
     <%- include("../partials/header.ejs")%>
     <!-- Termina  la zona de header -->

     <!-- Inicia la zona de main -->
     <h1>productCart.html</h1>
     <!-- Termina  la zona de main -->

     <!-- Inicia la zona de footer -->
     <%- include("../partials/footer.ejs")%>
     <!-- Termina  la zona de footer -->
</body>

</html>