<%- include("../partials/head.ejs")%>
</head>

    <body>
        <!-- Inicia la zona de header -->
        <%- include("../partials/header.ejs")%>

        <!-- Inicia la zona de main -->

        <!-- termina  la zona de main -->
        <!-- Inicia la zona de footer -->
        <%- include("../partials/footer.ejs")%>
    </body>

    </html>