<%- include("../partials/head.ejs")%>
<link rel="stylesheet" href="/css/productDetail.css"> 
</head>

<body>
     <%- include("../partials/header.ejs")%>

     <main class="main-productDetail">
          Aquí va el contenido
     </main>

     <%- include("../partials/footer.ejs")%>
</body>

</html>