<%- include("../partials/head.ejs")%>

<body>
     <%- include("../partials/header.ejs")%>

     <main class="main-productDetail">
          Aquí va el contenido
     </main>

     <%- include("../partials/footer.ejs")%>
</body>

</html>