<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Marvel</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&family=Ubuntu:wght@500&display=swap"
          rel="stylesheet">
     <link rel="stylesheet" href="/css/normalize.css">
     <link rel="stylesheet" href="/css/styles.css">
     <script src="https://kit.fontawesome.com/1b0fac21a6.js" crossorigin="anonymous"></script>
</head>

<body>
     <!-- Aqui inicia la seccion Menu Navbar -->

     <!-- Escribir aqui el codigo de  la seccion Menu Navbar -->
     <header class="main-header">
          <conteiner>
               <div>
                    <img src="images/logo-brandcolor.svg" class="logo">
               </div>

               <nav class="main-navar">
                    <ul class="left-navbar">
                         <li><a href="/home">seccion1</a></li>
                         <li><a href="/home">seccion2</a></li>
                         <li><a href="/home">seccion3</a></li>
                         <li><a href="/home">seccion4</a></li>
                         <li><a href="/home">seccion5</a></li>
                    </ul>
               </nav>

               <button type="submit" class="boton-header">Boton1</button>
               <button type="submit" class="boton-header">Boton2</button>
          </conteiner>
     </header>
     <!-- Aqui termina la seccion Menu Navbar -->

     <!-- Aqui inicia la seccion Secciones Comunes -->

     <!-- Escribir aqui el codigo de  la seccion Secciones Comunes -->

     <!-- Aqui termina la seccion Secciones Comunes -->

     <!-- Aqui inicia la seccion Banner Contenedor -->

     <!-- Escribir aqui el codigo de  la seccion Banner Contenedor -->

     <!-- Aqui termina la seccion Banner Contenedor -->

     <!-- Aqui inicia la seccion Footer -->

     <!-- Escribir aqui el codigo de  la seccion Footer -->

     <!-- Aqui termina la seccion Footer -->

     <!-- Aqui inicia la seccion Secciones Diferentes -->

     <!-- Escribir aqui el codigo de  la seccion Secciones Diferentes -->

     <!-- Aqui termina la seccion Secciones Diferentes -->

</body>

</html>