<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Marvel</title>
</head>

<body>

     <h1>welcome</h1>

     <!-- Aqui inicia la seccion Menu Navbar -->

     <!-- Escribir aqui el codigo de  la seccion Menu Navbar -->

     <!-- Aqui termina la seccion Menu Navbar -->

     <!-- Aqui inicia la seccion Secciones Comunes -->

     <!-- Escribir aqui el codigo de  la seccion Secciones Comunes -->

     <!-- Aqui termina la seccion Secciones Comunes -->

     <!-- Aqui inicia la seccion Banner Contenedor -->

     <!-- Escribir aqui el codigo de  la seccion Banner Contenedor -->

     <!-- Aqui termina la seccion Banner Contenedor -->

     <!-- Aqui inicia la seccion Footer -->

     <!-- Escribir aqui el codigo de  la seccion Footer -->

     <!-- Aqui termina la seccion Footer -->

     <!-- Aqui inicia la seccion Secciones Diferentes -->

     <!-- Escribir aqui el codigo de  la seccion Secciones Diferentes -->

     <!-- Aqui termina la seccion Secciones Diferentes -->

</body>

</html>