html {
  box-sizing: border-box;
}

*,
*:before *:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0d051b;
  font-family: "Rubik", "Ubuntu";
  align-items: center;
}

/*Menu Burger*/

.hamburger-menu {
  display: none;
  padding: 10px;
}

.hamburger-menu ul{
  display: none;
}

.hamburger-menu input:checked  ~ ul{
  display:block;
}

.hamburger-menu input {
  display: none;
}

.hamburger-menu label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  color: white;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
.hamburger-menu label:hover{
  background: #280f50;
}

/* Estilo del boton cuando el menú está expandido*/
.hamburger-menu input:checked ~ label {
  background: #280f50; 
}

.hamburger-menu ul{
  margin-top:0;
  padding: 0;
  width: 200px;

}

.hamburger-menu li{
  display: block;
  background: #280f50;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid white;
  color: #fbfbfb;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.hamburger-menu li:hover {
  filter: brightness(110%);
}

.hamburger-menu ul a {
  text-decoration: none;
  color: #fbfbfb;
  padding: 5px 0;
  font: "Ubuntu";
  gap: 4px;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  transition: all .3s;
}

/*NavBar*/

.main-header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 32px 5px;
  background: var(--colors-surface-surface-black, #0d051b);
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
}

.main-header .container {
  gap: 10px;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
}

.top-bar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top-bar img {
  width: 150px;
}

.botones-top-bar {
  padding: 5px;
}

.botones-top-bar a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #fbfbfb;
}

 #cerrar a{
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #fbfbfb;
}

.usuario {
  color: #fbfbfb;
  margin: 0;
  font-size: 25px;
}

.boton-header {
  padding: 12px 0px;
  height: 52px;
  width: 216px;
  border-radius: 4px;
  margin: 10px;
  font-size: 20px;
  color: #fbfbfb;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border: none;
  /*background-image: linear-gradient(#280f50, #641aad);*/
}

#register {
  color: #fbfbfb;
  background: #280f50;
}

#register:hover {
  background-color: #bb38f9;
}

#login {
  color: #101820;
  background: rgba(251, 251, 251, 0.4);
}

#login a:hover {
  color: #bb38f9;
}

#cerrar {
  color: #fbfbfb;
  background: #280f50;
}

#cerrar:hover {
  background-color: #bb38f9;
}

.search-sec {
  display: flex;
}

.search {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding: 8px 16px;
  line-height: 24px;
  color: #101820;
  min-width: 307px;
  max-width: 307px;
  border-radius: 0px 16px 16px 0px;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  gap: 8px;
  display: flex;
}

.search-sec i {
  color: #101820;
  width: fit-content;
  flex-shrink: 0;
  background-color: #fbfbfb;
  border-radius: 16px 0px 0px 16px;
  text-align: center;
  padding: 12px 0px 0px 10px;
}

.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar ul li {
  display: inline;
  padding: 5px 30px;
  position: relative;
  float: left;
  margin: 0;
}

.main-navbar ul a {
  text-decoration: none;
  color: #fbfbfb;
  padding: 5px 0;
  font: "Ubuntu";
  gap: 4px;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  transition: all .3s;
}

.main-navbar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #0d051b;
  padding: 8x;
  text-align: center;
}

.main-navbar ul ul li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.main-navbar ul ul a {
  padding: 0px;
  font-family: Ubuntu;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.main-navbar ul li:hover>ul {
  display: block;
  color: #fbfbfb;
}

.main-navbar li:hover {
  color: #bb38f9;
}

.main-navbar a:hover {
  color: #bb38f9;
}

.hamburger-button {
  display: none;
}

.logo-movil {
  display: none;
}

/* Aqui inicia CSS footer */
.main-footer {
  padding: 30px;
  background-color: #fbfbfb;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  margin-bottom: 15px;
}

.follow {
  text-align: right;
  color: #641aad;
  margin-bottom: 15px;
}

.disclaimer {
  margin-top: 10px;
}

.social-nav ul {
  display: flex;
  list-style: none;
  color: #641aad;
  justify-content: space-between;
}

.policy {
  display: flex;
  justify-content: space-between;
}

.site-links ul,
.policy-links ul {
  list-style: none;
}

.disclaimer {
  display: flex;
}

/* Aqui termina CSS footer */

@media only screen and (max-width: 767px) {

  /*NavBar*/
  .logo {
    display: flex;
    width: 100px;
  }

  .main-navbar {
    display: none;
  }

  .boton-header {
    display: none;
  }

  .search-sec {
    display: none;
  }

  .main-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    flex-wrap: nowrap;
    width: 100%;
  }

  .top-bar {
    width: 80%;
    justify-content: flex-start;
  }

  /* Aqui inicia CSS de Footer entre 361 y 767 */


  .policy {
    flex-direction: column;
  }

  .main-footer .policy li {
    margin: 5px 0;
  }

  .follow {
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
  }

  /* Aqui trermina CSS de Footer entre 361 y 767 */
}

@media (min-width: 768px) and (max-width: 1199px) {

  /*NavBar*/
  .logo {
    display: flex;
    width: 300px;
  }

  .main-header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .boton-header {
    display: none;
  }

  .search-sec {
    display: none;
  }

  .main-navbar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .container {
    flex-wrap: nowrap;
    width: 100%;
  }

  .top-bar {
    width: 80%;
    justify-content: flex-start;
  }

  .social-nav ul li {
    margin-right: 0.5rem;
  }

  .policy {
    flex-direction: column;
    gap: 10px;
  }

  .site-links ul,
  .policy-links ul {
    display: flex;
  }

  .site-links li,
  .policy-links li {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {

  /*Footer*/
  .follow {
    font-size: 1.5rem;
  }

  .social-nav ul {
    justify-content: flex-end;
  }

  .social-nav ul li {
    margin-right: 1rem;
  }

  .site-links ul,
  .policy-links ul {
    display: flex;
  }

  .site-links li,
  .policy-links li {
    margin-right: 1rem;
  }
}