
</main>
<footer class="main-footer">
     <div class="footer-social">
          <div class="follow">Siguenos</div>
          <nav class="social-nav">
               <ul>
                    <li><a href="#"></a><i class="fa-brands fa-youtube"></i></li>
                    <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
                    <li><a href="#"></a><i class="fa-brands fa-facebook"></i></li>
                    <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
                    <li><a href="#"></a><i class="fa-brands fa-linkedin-in"></i></li>
                    <li><a href="#"></a><i class="fa-brands fa-tiktok"></i></li>
                    <li><a href="#"></a><i class="fa-solid fa-envelope"></i></li>
               </ul>
          </nav>
     </div>
     <div class="policy">
          <nav class="site-links">
               <ul>
                    <li><a href="#"></a>Compañia</li>
                    <li><a href="#"></a>Prensa</li>
                    <li><a href="#"></a>Carreras</li>
                    <li><a href="#"></a>Ayuda</li>
               </ul>
          </nav>
          <nav class="policy-links">
               <ul>
                    <li><a href="#"></a>Terminos de Uso</li>
                    <li><a href="#"></a>Politica de Privacidad</li>
                    <li><a href="#"></a>Accesibilidad</li>
                    <li><a href="#"></a>Seleccion de Ads</li>
               </ul>
          </nav>
     </div>
     <div class="disclaimer">
          <div class="logo-disclaimer">
               <a href="/home"><img src="images/icon.svg" class="logo-movil"></a>
          </div>
          <div class="copyright">
               TM &amp; © 2023 Marvel Inc. Todos los derechos reservados
          </div>
     </div>
</footer>