<!-- Escribir aqui el codigo de  la seccion Menu Navbar -->
<header class="main-header">
     <conteiner>
          <a href="#" class="hamburger-button">
               <i class="fa-solid fa-bars"></i></a>

          <div class="top-bar">
               <a href="/home"><img src="images/logo-brandcolor.svg" class="logo"></a>
               <a href="/home"><img src="images/icon.svg" class="logo-movil"></a>
               <div class="search-sec">
                    <i class="fa-solid fa-magnifying-glass"></i><input type="search" class="search"
                              placeholder="Encuentra tus peliculas Favoritas">
               </div>
               <div class="botones-top-bar">
                    <button type="submit" class="boton-header" id="register"><a href="/register">Registrate</a></button>
                    <button type="submit" class="boton-header" id="login"><a href="/login">Iniciar Sesión</a></button>
               </div>
          </div>

          <nav class="main-navbar">
               <ul class="menu-navbar">
                    <li><a href="/home">Estrenos </a><i class="fa-solid fa-clapperboard"></i></li>
                    <li><a href="/home">Top 10 </a><i class="fa-solid fa-fire"></i></li>
                    <li><a href="/home">Categorias </a><i class="fa-solid fa-video"></i>
                         <ul class="submenu-navbar">
                              <li><a href="/home"></a>Accion</li>
                              <li><a href="/home"></a>Aventura</li>
                              <li><a href="/home"></a>Comedia</li>
                              <li><a href="/home"></a>Drama</li>
                              <li><a href="/home"></a>Infantil</li>
                              <li><a href="/home"></a>Musical</li>
                              <li><a href="/home"></a>Romantica</li>
                              <li><a href="/home"></a>Terror</li>
                         </ul>
                    </li>
                    <li><a href="/home">Proximamente </a><i class="fa-solid fa-film"></i></li>
                    <li><a href="/home">Tus Favoritos </a><i class="fa-solid fa-heart"></i></li>
               </ul>
          </nav>
     </conteiner>
</header>