<!-- Escribir aqui el codigo de  la seccion Menu Navbar -->
<header class="main-header">
     <div class="container">
          <nav class="hamburger-menu">
               <input type="checkbox" id="menu" class="hamburger-button">
               <label for="menu" class="hamburger-button"> ☰ </label>
               <ul class="hamburger-menu">
                    <li><a href="/products/productList">Estrenos <i class="fa-solid fa-clapperboard"></i></a></li>
                    <li><a href="/home">Top 10 <i class="fa-solid fa-fire"></i> </a></li>
                    <li><a href="/products/productList">Categorias <i class="fa-solid fa-video"></i></a>
               </ul>
          </nav>

          <div class="top-bar">
               <a href="/home"><img src="/images/logo-brandcolor.svg" class="logo"></a>
               <a href="/home"><img src="/images/icon.svg" class="logo-movil"></a>
               <div class="search-sec">
                    <i class="fa-solid fa-magnifying-glass"></i><input type="search" class="search"
                         placeholder="Encuentra tus peliculas Favoritas">
               </div>
               <% if((locals==undefined) || (locals.myUser==undefined)) { %>
                    <div class="botones-top-bar">
                         <button type="submit" class="boton-header" id="register"><a
                                   href="/users/register">Registrate</a></button>
                         <button type="submit" class="boton-header" id="login"><a href="/users/login">Iniciar
                                   Sesión</a></button>
                    </div>
                    <% } %>
                         <% if((locals !=undefined) && (locals.myUser !=undefined)) { %>
                              <h1 class="usuario">
                                   Bienvenid@ <%= locals.myUser %>
                              </h1>
                              <form action="/users/cerrarSesion" method="post">
                                   <button type="submit" class="boton-header" id="cerrar">Cerrar
                                             sesión</button>
                              </form>
                              <% } %>
          </div>

          <nav class="main-navbar">
               <ul class="menu-navbar">
                    <li><a href="/products/productList">Estrenos <i class="fa-solid fa-clapperboard"></i></a></li>
                    <li><a href="/home">Top 10 <i class="fa-solid fa-fire"></i> </a></li>
                    <li><a href="/products/productList">Categorias <i class="fa-solid fa-video"></i></a>
                         <ul class="submenu-navbar">
                              <li><a href="/products/productList/5">Accion</li></a>
                              <li><a href="/products/productList/1">Comedia</li></a>
                              <li><a href="/products/productList/2">Drama</li></a>
                              <li><a href="/products/productList/3">Suspenso</li></a>
                              <li><a href="/products/productList/4">Terror</li></a>
                         </ul>
                    </li>
                    <li><a href="/home">Proximamente <i class="fa-solid fa-film"></i></a></li>
                    <% if( (locals !=undefined) && (locals.myUser !=undefined) ) { %>
                         <li><a href="/home">Tus Favoritos <i class="fa-solid fa-heart"></i></a></li>
                         <% } %>
               </ul>
          </nav>
     </div class="container">
</header>