<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Panel de Administrador</title>
</head>
<body>

    <%- include("../partials/header.ejs")%>

    <main class="main-index">
        <div class="panel">
            <h1>Panel de Administrador</h1>
            <div class="list-panel">
                <a href="/admin/userList"><div class="item-panel users">
                    <i class="fa-solid fa-user"></i><p>Usuarios</p><i class="fa-solid fa-chevron-right"></i>
                </div></a>

                <a href="/admin/listProducts"><div class="item-panel movies">
                    <i class="fa-solid fa-video"></i><p>Películas</p><i class="fa-solid fa-chevron-right"></i>
                </div></a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer.ejs")%>
</body>
</html>