<%- include("../partials/head.ejs")%>

     <body>
          <!-- Inicia la zona de header -->
          <%- include("../partials/header.ejs")%>

               <main class="main-login">
                    <div class="formulario-login-minimo">
                         <form action="#" method="get" class="form-login-minimo">
                              <img src="images/logo-brandcolor.svg" class="img-logo-banner">
                              <section class="section-data-login">
                                   <h2 class="tituloIniciaSesion">Inicia Sesión</h2>
                                   <input type="text" name="dataName" id="dataName" class="dataName"
                                        placeholder="Ingresa tu usuario">
                                   <input type="password" name="dataPassword" id="dataPassword" class="dataPassword"
                                        placeholder="Ingresa tu contraseña">
                                   <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
                              </section>
                         </form>
                    </div>
                    <div class="formulario-login-amplio">
                         <form action="#" method="get" class="form-login-amplio">
                              <!-- <img src="images/logo-brandcolor.svg" class="img-logo-banner"> -->
                              <section class="area-data-login">
                                   <h2>Marvel</h2>
                                   <h3>Iniciar Sesion</h3>
                                   <div class="data-login-name">
                                        <label for="dataLoginName">Correo electrónico : </label>
                                        <input type="text" class="data-login-info" name="dataLoginName"
                                             id="dataLoginName">
                                   </div>
                                   <div class="data-login-password">
                                        <label for="dataLoginPassword">Contraseña : </label>
                                        <input type="password" class="data-login-info" name="dataLoginPassword"
                                             id="dataLoginPassword">
                                   </div>
                                   <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
                                   <spam class="registro">
                                        <label>¿Aún no tienes una cuenta?</label><a href="./register.ejs">Registrate
                                             aqui</a>
                                   </spam>
                              </section>
                         </form>
                    </div>
               </main>
               <!-- Termina la zona de formulario -->
               <!-- Inicia la zona de footer -->
               <%- include("../partials/footer.ejs")%>
                    <!-- Termina la zona de footer -->
     </body>

     </html>