<%- include("../partials/head.ejs")%>

<body>
     <!-- Inicia la zona de header -->
     <%- include("../partials/header.ejs")%>
     
     <main>
          <div class="formulario-login-minimo">
               <form action="#" method="get" class="form-login-minimo">
                    <img src="images/logo-brandcolor.svg" class="img-logo-banner">
                    <section class="section-data-login">
                         <h2 class="tituloIniciaSesion">Inicia Sesión</h2>
                         <input type="text" name="dataName" id="dataName" class="dataName"
                              placeholder="Ingresa tu usuario">
                         <input type="password" name="dataPassword" id="dataPassword" class="dataPassword"
                              placeholder="Ingresa tu contraseña">
                         <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
                    </section>
               </form>
          </div>
          <div class="formulario-login-amplio">
               <img src="images/logo-brandcolor.svg" class="img-logo-banner">
               <section class="area-data-login">
                    <div class="data-login-name">
                         <label for="dataLoginName">Usuario : </label>
                         <input type="text" name="dataLoginName" id="dataLoginName">
                    </div>
                    <div class="data-login-password">
                         <label for="dataLoginPassword">Clave : </label>
                         <input type="password" name="dataLoginPassword" id="dataLoginPassword">
                    </div>
                    <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
               </section>
          </div>
     </main>
     <!-- Termina la zona de formulario -->
     <!-- Inicia la zona de footer -->
     <footer>
          <section class="main-footer">
               <div class="footer-social">
                    <div class="follow">Siguenos</div>
                    <nav class="social-nav">
                         <ul>
                              <li><a href="#"></a><i class="fa-brands fa-youtube"></i></li>
                              <li><a href="#"></a><i class="fa-brands fa-twitter"></i></li>
                              <li><a href="#"></a><i class="fa-brands fa-facebook"></i></li>
                              <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
                              <li><a href="#"></a><i class="fa-brands fa-linkedin-in"></i></li>
                              <li><a href="#"></a><i class="fa-brands fa-tiktok"></i></li>
                              <li><a href="#"></a><i class="fa-solid fa-envelope"></i></li>
                         </ul>
                    </nav>
               </div>
               <div class="policy">
                    <nav class="site-links">
                         <ul>
                              <li><a href="#"></a>Compania</li>
                              <li><a href="#"></a>Prensa</li>
                              <li><a href="#"></a>Carreras</li>
                              <li><a href="#"></a>Ayuda</li>
                         </ul>
                    </nav>
                    <nav class="policy-links">
                         <ul>
                              <li><a href="#"></a>Terminos de Uso</li>
                              <li><a href="#"></a>Politica de Privacidad</li>
                              <li><a href="#"></a>Accesibilidad</li>
                              <li><a href="#"></a>Seleccion de Ads</li>
                         </ul>
                    </nav>
               </div>
               <div class="disclaimer">
                    <div class="logo-disclaimer">
                         <a href="/home"><img src="images/icon.svg" class="logo-movil"></a>
                    </div>
                    <div class="copyright">
                         TM &amp; © 2023 Marvel Inc. Todos los derechos reservados
                    </div>
               </div>
          </section>
     </footer>
     <!-- Termina la zona de footer -->
</body>

</html>