<%- include("../partials/head.ejs")%>

<body>
     <!-- Inicia la zona de header -->
     <%- include("../partials/header.ejs")%>
     
     <main>
          <div class="formulario-login-minimo">
               <form action="#" method="get" class="form-login-minimo">
                    <img src="images/logo-brandcolor.svg" class="img-logo-banner">
                    <section class="section-data-login">
                         <h2 class="tituloIniciaSesion">Inicia Sesión</h2>
                         <input type="text" name="dataName" id="dataName" class="dataName"
                              placeholder="Ingresa tu usuario">
                         <input type="password" name="dataPassword" id="dataPassword" class="dataPassword"
                              placeholder="Ingresa tu contraseña">
                         <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
                    </section>
               </form>
          </div>
          <div class="formulario-login-amplio">
               <img src="images/logo-brandcolor.svg" class="img-logo-banner">
               <section class="area-data-login">
                    <div class="data-login-name">
                         <label for="dataLoginName">Usuario : </label>
                         <input type="text" name="dataLoginName" id="dataLoginName">
                    </div>
                    <div class="data-login-password">
                         <label for="dataLoginPassword">Clave : </label>
                         <input type="password" name="dataLoginPassword" id="dataLoginPassword">
                    </div>
                    <button type="submit" class="submit-login-basico">Iniciar Sesion</button>
               </section>
          </div>
     </main>
     <!-- Termina la zona de formulario -->
     <!-- Inicia la zona de footer -->
     <%- include("../partials/footer.ejs")%>
     <!-- Termina la zona de footer -->
</body>

</html>