<%- include("../partials/head.ejs")%>

<body>
     <!-- Inicia la zona de header -->
     <%- include("../partials/header.ejs")%>
     
     <!-- Formulario Registro -->
     <h3 class="titulo-form">Registro</h3>
     <div class="formulario">
          <form action="/crear-cuenta" method="POST" class="create-form">
               <div class="control-formulario">
                    <label>Nombre:</label>
                    <input type="text" name="nombre" class="control">
               </div>
               <div class="control-formulario">
                    <label>Apellido:</label>
                    <input type="text" name="apellido" class="control">
               </div>
               <div class="control-formulario">
                    <label>Usuario:</label>
                    <input type="text" name="usuario" class="control">
               </div>
               <div class="control-formulario">
                    <label>Fecha Nacimiento:</label>
                    <input type="date" name="fecha-nac" class="control">
               </div>
               <div class="control-formulario">
                    <label>Domicilio:</label>
                    <input type="text" name="domicilio" class="control">
               </div>
               <div class="control-formulario">
                    <label>Intereses:</label>
                    <br><input type="checkbox" name="intereses" class="control" value="Accion"> Accion
                    <input type="checkbox" name="intereses" class="control" value="Aventura"> Aventura
                    <br><input type="checkbox" name="intereses" class="control" value="Comedia"> Comedia
                    <input type="checkbox" name="intereses" class="control" value="Drama"> Drama
                    <br><input type="checkbox" name="intereses" class="control" value="Infantil"> Infantil
                    <input type="checkbox" name="intereses" class="control" value="Musical"> Musical
                    <br><input type="checkbox" name="intereses" class="control" value="Romantica"> Romantica
                    <input type="checkbox" name="intereses" class="control" value="Romantica"> Terror
               </div>
               <div class="control-formulario">
                    <label>Foto Usuario:</label>
                    <input type="file" name="foto" class="control">
               </div>
               <div class="control-formulario">
                    <label>Contrase単a:</label>
                    <input type="password" name="contrase単a" class="control">
               </div>
               <div class="control-formulario">
                    <label>Confirmar contrase単a:</label>
                    <input type="password" name="con-contrase単a" class="control">
               </div>
               <div class="control-formulario">
                    <conteiner class="botones">
                    <button type="reset" class="boton-formulario" id="reset">Borrar</button>
                    <button type="submit" class="boton-formulario" id="submit">Enviar</button>
               </conteiner>
               </div>
          </form>
     </div>
     <!-- Aqui inicia la seccion Footer -->
     <!-- Escribir aqui el codigo de  la seccion Footer -->
     <%- include("./partials/footer.ejs")%>
     <!-- Aqui termina la seccion Footer -->
</body>

</html>